body {
    background-color: rgb(184, 184, 184);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}


.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #474747;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 160px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

.sidenav2{
  height: 100%;
  background-color: white;
  position: relative;
  left: 100px;
}
  
.chatIcon {
  padding: 50px;
  position: fixed;
  top: 50px;
  left: -160px;
}

.exitIcon{
  padding: 50px;
  position: fixed;
  top: 620px;
  left: -160px;
}

input[type=text]{
  position: fixed;
  left: 180px;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  border-radius: 35px;
  background-color: #474747;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 20px;
}