body {
    background-color: grey;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#login {
    border-radius: 35px;
    background-color: white;
    padding: 30px;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 250px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.chatIcon{
    position: fixed;
    top: 80px;
    left: 700px;
    right: -9999px;
    margin: auto;
}

.textChatIcon {
    position: relative;
    top: -135px;
    left: 455px;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
  }

  button {
    border-radius: 35px;
    background-color: #474747;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 25px;
    position: relative;
    left: 95px;
  }
  
  button:hover {
    opacity: 0.8;
  }

  input[type=text], input[type=password] {
    border-radius: 10px;
    background-color: rgb(182, 182, 182);
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 90%;
  }

  h1{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #474747;
  }