body {
    background-color: grey;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#login {
    border-radius: 35px;
    background-color: white;
    padding: 30px;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 250px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.chatIcon{
    position: fixed;
    top: 80px;
    left: 700px;
    right: -9999px;
    margin: auto;
}

.textChatIcon {
    position: relative;
    top: -50px;
    left: 450px;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
  }