body {
    background-color: rgb(184, 184, 184);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}


.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #474747;
    overflow-x: hidden;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

.sidenav2{
  height: 100%;
  background-color: rgb(93, 166, 172);
  position: fixed;
  left: 80px;
  width: 200px;
  margin-top: inherit;
  top:-8px;
}

.conversationBtn{
  border-radius: 5px;
  border: none;
  margin: 5px;
  font-size: 15px;
  padding: 10px;
  opacity: 0.5;
}

.userList{
  padding: 5px;
}

.userListWrapper{
  margin: 5px;
  height: 150px;
  overflow-y: scroll;
}

.createChatBtn{
  border-radius: 20px;
  margin: 5px;
  border: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(182, 182, 182);
}

.createChatBtn:hover{
  opacity: 0.3;
}

.conversationName{
  margin-bottom: 10px;
  margin: 5px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 50px;
  background-color: #ffffff;
  padding: 10px;
  font-size: 15px;
}

.conversationBtn.active{
  background-color: rgb(192, 143, 166);
  opacity: 1;
}

.conversationBtn:hover{
  opacity: 0.3;
  cursor: pointer;
}

.chatMembers{
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.chatMemberWrapper{
  padding-right: 20px;
}
  
.chat-icon {
  margin: 10px;
}

.send-icon {
  position: absolute;
  margin: 20px;
}

.exit-icon{
  margin: 10px;
  position: absolute;
  bottom: 0;
}

.exit-icon a:hover{
  opacity: 0.3;
}


.edit-group{
position: absolute;
bottom: 0;
margin: 10px;
}

.edit-group a:hover{
  opacity: 0.3;
}


.edit-person a:hover{
  opacity: 0.3;
}


/* Chat containers */
.message-container {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 50%;
}

.message-container h1{
 font-size: 12px;
}

/* Darker chat container */
.darker {

  border-color: rgb(93, 166, 172);
  background-color: rgb(93, 166, 172);
  position: relative;
  left: 20%;
}

/* Clear floats */
.message-container::after {
  content: "";
  clear: both;
  display: table;
}


/* Style time text */
.time-right {
  float: right;
  color: rgb(0, 0, 0);
}

/* Style time text */
.time-left {
  float: right;
  color: rgb(0, 0, 0);
}

.navmiddle{
  position: fixed;
  left: 280px;
  width: 100%;
  background-color: rgb(184, 184, 184);
  height: 100%;
}


.chatWrapper{
  position: relative;
  padding-left: 20px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  overflow-y: scroll;
}

.chat-bottom-container{
  background-color: white;
  position: absolute;
  bottom: 0;
  height: 110px;
  width: 100%;
  z-index: 1;
}

.chat-bottom-spacer{
  height: 110px;
  padding-top: 50px;
}

.chat-top-container{
  background-color: #474747;
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.navtop{
  background-color: white;
  position: fixed;
  top: 10px;
  left: 700px; 
  width: 20%;
  height: 50px;
  border-radius: 40px;
}

.navtop p{
  position: relative;
  left: 0px;
  color: rgb(93, 166, 172);
  font-size: 20px;
  top: -8px;
}


.text-nachricht{
  width: 65%;
  height: 80px;
  border: none;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 20px;
  position: relative;
  margin: 10px;
}

.navbottom img{
  position: relative;
  left: 800px;
}

.navbottom img a:hover{
  opacity: 0.3;
}


.search-container{
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


