body {
    background-color: rgb(184, 184, 184);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.login {
    border-radius: 80px;
    background-color: white;
    padding: 30px;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 250px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.sprechblase{
    position: absolute;
    top: -170px;
    left: 200px;
    margin: auto;
}

.textSprechblase {
    position: absolute;
    top: -80px;
    left: 240px;
    font-size: 80px;
    color: white;
  }

  .btnEinloggen {
    border-radius: 35px;
    background-color: #474747;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 25px;
    position: relative;
    left: 95px;
    top: 70px;
  }
  
  .btnEinloggen:hover {
    opacity: 0.8;
  }

  input[type=text], input[type=password] {
    border-radius: 10px;
    background-color: rgb(212, 212, 212);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 90%;
    position: relative;
    top: 50px;
  }

  h1{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #474747;
    position: relative;
    top:  30px;
  }

  p{
    position: relative;
    top:  70px;
  }

  a{
    color: black;
  }